/** Import **/
:root {
  /** Card - set**/
  --card-gap: 30px;
  --card-item: 4;
  /** Color **/
  --primary-color: #212121;
  --grey-color: #757575;
  --blue-color: #2196F3;
  --white-color: #FFFFFF;
  --primary-bg-color: #F5F4FA;
  --back-color: #2196F3;
  --footer-color: #2F303A;
  --background-color: #fff;
  --border-color: #EEEEEE;
  --border-icon: #AFB1B8;
  --clients-bg: #E5E5E5;
  --submit-btn: #188CE8;
  --modal-bg: rgba(0, 0, 0, 0.2);
  --footer-primary-color: rgba(255, 255, 255, 0.6);
  --footer-bg-icon: rgba(255, 255, 255, 0.1);
  --gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  --label: rgba(47, 48, 58, 0.8);
  --project: rgba(33, 150, 243, 0.9);
  --form-input: rgba(33, 33, 33, 0.2);
  /** Transition **/
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: var(--grey-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.no-scroll {
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-gap));
  margin-top: calc(-1 * var(--card-gap));
}

.card-item {
  -ms-flex-preferred-size: calc(100% / var(--card-item) - var(--card-gap));
      flex-basis: calc(100% / var(--card-item) - var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*logo*/
.logo {
  color: var(--blue-color);
  font-family: "Raleway", cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.header .logo {
  margin-right: 93px;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.logo:hover,
.logo:focus {
  color: var(--primary-color);
}

.logo-black {
  color: var(--primary-color);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.logo-black:hover, .logo-black:focus {
  color: var(--blue-color);
}

/*Navigation*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-color);
}

/*site-nav*/
.site-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.nav-link,
.auth-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.current {
  color: var(--blue-color);
}

/*auth-nav*/
.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  margin-left: auto;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.mail-icon {
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--blue-color);
  --color3: var(--blue-color);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link:active::after,
.current::after,
.auth-link:hover::after,
.auth-link:focus::after,
.auth-link:active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: var(--blue-color);
  border-radius: 2px;
}

/*Hero Buttons-Modal-Backdrop-Footer*/
.hero-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 200px;
  cursor: pointer;
  font-family: inherit;
  color: var(--white-color);
  background-color: var(--back-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background color var(--transition);
  transition: background color var(--transition);
}
.hero-button:hover, .hero-button:focus {
  background-color: var(--submit-btn);
}

/*Button Portfolio*/
.filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 56px;
}

.filter-button {
  padding: 6px 22px;
  cursor: pointer;
  font-family: inherit;
  background-color: var(--primary-bg-color);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: background-color var(--transition), color var(--white-color);
  transition: background-color var(--transition), color var(--white-color);
}

.filter-button:hover,
.filter-button:focus,
.filter-active {
  background-color: var(--blue-color);
  color: var(--white-color);
}

/* Socials */
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--border-icon);
  background-color: var(--white-color);
  border-radius: 50%;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.social-link:hover, .social-link:focus {
  background-color: var(--blue-color);
  --color4: var(--white-color);
}

.register-form {
  text-align: center;
}

.register-form-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-color);
}

.register-form-group {
  margin-bottom: 20px;
}

.register-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.register-form-wrap:last-child {
  margin-bottom: 0;
}

.register-form-label {
  text-align: left;
  margin-bottom: 4px;
}

.register-form-position {
  position: relative;
}

.register-form-input,
.register-form-message {
  width: 100%;
  height: 40px;
  padding: 11px;
  padding-left: 42px;
  border: 1px solid var(--form-input);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  -webkit-transition: border var(--transition);
  transition: border var(--transition);
}
.register-form-input:hover, .register-form-input:focus, .register-form-input:hover, .register-form-input:focus,
.register-form-message:hover,
.register-form-message:focus,
.register-form-message:hover,
.register-form-message:focus {
  border: 1px solid var(--blue-color);
}

.register-form-input:hover + .register-form-icon,
.register-form-input:focus + .register-form-icon {
  fill: var(--blue-color);
}

.register-form-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.register-form-message {
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  resize: none;
}
.register-form-message::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form-message::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form-message:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form-message::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form-message::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.register-form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.register-icon-check {
  opacity: 0;
  -webkit-transition: opacity var(--transition);
  transition: opacity var(--transition);
}
.register-checkbox:checked + .register-icon .register-icon-check {
  opacity: 1;
}

.register-icon-uncheck {
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}
.register-checkbox:checked + .register-icon .register-icon-uncheck {
  opacity: 0;
  -webkit-transition: opacity var(--transition);
  transition: opacity var(--transition);
}

.register-checkbox:hover + .register-icon .register-icon-uncheck,
.register-checkbox:focus + .register-icon .register-icon-uncheck {
  fill: var(--blue-color);
}

.register-form-agreement-text {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.register-form-agreement-link {
  color: var(--blue-color);
}

.register-form-button-icon {
  fill: var(--white-color);
  margin-left: 10px;
}

/*address*/
.address {
  color: var(--footer-primary-color);
  font-style: inherit;
}

.logo-white {
  color: var(--white-color);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.logo-white:hover, .logo-white:focus {
  color: var(--blue-color);
}

.address-link {
  color: var(--white-color);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.address-link:hover, .address-link:focus {
  color: var(--blue-color);
}

.address-mail {
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.address-mail:hover, .address-mail:focus {
  color: var(--blue-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg);
  -webkit-transition: opacity var(--transition), visibility var(--transition);
  transition: opacity var(--transition), visibility var(--transition);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}

.modal-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 9px 10px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}
.modal-btn:hover, .modal-btn:focus {
  fill: var(--blue-color);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

/* Header */
.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Hero */
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: var(--gradient), url(../images/images-index/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.features__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  background-color: var(--primary-bg-color);
  border-radius: 4px;
  margin-bottom: var(--card-gap);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
}
.features__title {
  margin-bottom: 10px;
  color: var(--primary-color);
}

.about {
  padding-top: 0;
}
.about__list {
  --card-item: 3;
}
.about .card-item {
  position: relative;
}
.about__label {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 27px;
  text-align: center;
  color: var(--white-color);
  background: var(--label);
}

/* Team */
.section-team {
  background-color: var(--primary-bg-color);
}

.team-wraper {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white-color);
}

.title-shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.title-border {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-name {
  margin-bottom: 10px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-work {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/*section-clients*/
.clients-container {
  --card-item: 6;
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--border-icon);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.clients-link:hover, .clients-link:focus {
  color: var(--blue-color);
}

.clients-icons {
  fill: currentColor;
}

/*footer*/
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 70px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--footer-color);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.footer:hover, .footer:focus {
  color: var(--primary-color);
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.web {
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.web:hover, .web:focus {
  color: var(--white-color);
}

/** Footer-social **/
.footer-come {
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-social .social-link {
  background-color: var(--footer-bg-icon);
  --color4: var(--white-color);
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}

.footer-social .social-link:hover,
.social-link:focus {
  background-color: var(--blue-color);
}

/** ===============
     Footer - form
    =============== **/
.footer-form {
  margin-left: auto;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  padding: 15px;
  margin-right: 12px;
  margin-left: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-primary-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
}

/* portfolio */
.portfolio-set {
  --card-gap: 30px;
  --card-item: 3;
}

.wraper-portfolio {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  background: var(--white-color);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.portfolio-link {
  display: inline-block;
  -webkit-transition: -webkit-box-shadow var(--transition);
  transition: -webkit-box-shadow var(--transition);
  transition: box-shadow var(--transition);
  transition: box-shadow var(--transition), -webkit-box-shadow var(--transition);
}

.portfolio-link:hover,
.portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Project - Overlay */
.project-overlay {
  position: relative;
  overflow: hidden;
}

.project-about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  background: var(--project);
  color: var(--white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  padding: 63px 24px;
  -webkit-transition: opacity var(--transition), -webkit-transform var(--transition);
  transition: opacity var(--transition), -webkit-transform var(--transition);
  transition: transform var(--transition), opacity var(--transition);
  transition: transform var(--transition), opacity var(--transition), -webkit-transform var(--transition);
}

.portfolio-link:hover .project-about,
.portfolio-link:focus .project-about {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}/*# sourceMappingURL=main.css.map */