/*section-clients*/

.clients-container {
    --card-item: 6;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;

    border: 1px solid currentColor;
    border-radius: 4px;
    color: var(--border-icon);
    transition: color var(--transition);

    &:hover,
    &:focus {
        color: var(--blue-color);
    }
}

.clients-icons {
    fill: currentColor;
}

