.features{

    &__thumb {
        display: flex;
        height: 120px;
        background-color: var(--primary-bg-color);
        border-radius: 4px;
        margin-bottom: var(--card-gap);
        align-items: center;
        justify-content: center;
    }
    &__icons {
        display: flex;
        width: 70px;
        height: 70px;
    }
    &__title {
        margin-bottom: 10px;
        color: var(--primary-color); 
    }
}



