/*footer*/

.footer-container {

@include mq(mob){
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    text-align: center;
}

    @include mq(tab){
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
    }

    @include mq(desk){
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background: var(--footer-color);
    transition: color var(--transition);

    &:hover,
    &:focus {
    color: var(--primary-color);
    }
}

.footer .logo {
    display: block;
    margin-bottom: 20px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 9px;

    @include mq(desk){
        flex-direction: column;
        align-items: flex-start;
    }


}

.web {
    transition: color var(--transition);

    &:hover,
    &:focus {
    color: var(--white-color);
    }
}

