/* Header */

.header {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 26px;
    
    @include mq(mob-only){
        padding-top: 10px;
        padding-bottom: 10px;
    }

}

.header-container {
    display: flex;
    align-items: center;

    
}