/* Hero */

.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: var(--gradient),
        url(../images/images-index/fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-top: 200px;
    padding-bottom: 200px;

    text-align: center;
}

.hero-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 696px;

    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}