/*Hero Buttons-Modal-Backdrop-Footer*/

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px 32px;
    min-width: 200px;

    cursor: pointer;
    font-family: inherit;
    color: var(--white-color);
    background-color: var(--back-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background color var(--transition);

    &:hover,
    &:focus {
    background-color: var(--submit-btn);
    }
}
/*Button Portfolio*/

.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    margin-bottom: 56px;
}

.filter-button {
    padding: 6px 22px;
    cursor: pointer;
    font-family: inherit;
    background-color: var(--primary-bg-color);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: background-color var(--transition), color var(--white-color);
}

.filter-button:hover,
.filter-button:focus,
.filter-active {
    background-color: var(--blue-color);
    color: var(--white-color);
}


