.card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-gap));
    margin-top: calc(-1 * var(--card-gap));

    @media screen and (min-width:480px) {
        --card-item: 1;
    }
    
    @media screen and (min-width:768px) {
        --card-item: 2;
    }
    
    @media screen and (min-width:1200px) {
        --card-item: 4;
    }
    }


.card-item {
    flex-basis: calc(100% / var(--card-item) - var(--card-gap));
    margin-left: var(--card-gap);
    margin-top: var(--card-gap);

    @media screen and (min-width:480px) {
            --card-gap: 30px;
        }
    
        @media screen and (min-width:768px) {
        --card-gap: 30px;
        }
    
        @media screen and (min-width:1200px) {
            --card-gap: 30px;
        }
}