/* portfolio */

.portfolio-set {
    --card-gap: 30px;
    --card-item: 3;
}

.wraper-portfolio {
    padding: 20px 24px;

    border: 1px solid var(--border-color);
    background: var(--white-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

}

.portfolio-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--primary-color);

}

.portfolio-text {

    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}

.portfolio-link {
    display: inline-block;
    transition: box-shadow var(--transition);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}